body { background: #ffcbcb; 
}
h1 {
    text-align: center; 
    color: white;
    padding: 5px;
}
.block-1 {
    background-color: #ffb5b5; 
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin: 50px auto;
    display: block;
    padding: 40px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;

}
.block-1:hover {
    animation: rotation 2s;
    cursor: pointer;
  }

.block-2 {
    background-color:  #407088; 
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin: 50px auto;
    display: block;
    padding: 40px;
    transition: transform 2s ease;
}

.block-2:hover {
    animation: fadeOut 2s;
    cursor: pointer;
    transform: translate(50px, 0px);
}

.block-3 {
    background-color:  #132743; 
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin: 50px auto;
    display: block;
    padding: 40px;
    position: relative;
    
}
.block-3:hover {
    animation: colorChange 2s;
    cursor: pointer;

}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes fadeOut {
    0% {opacity: 1; }
    100% {opacity: 0;} 
 } 
 @keyframes colorChange {
    0% {background-color: #132743;}
    50% {background-color: #ffb5b5;}
    100% {background-color: #132743;
    }
  }